<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviews</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/data.js"></script>
    <script src="assets/js/script.js"></script>
    <link rel="stylesheet" href="assets/css/global.css">
    <style>
        .testimonial-card {
    border-radius: 15px;
    padding: 20px;
    /* background: white; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

    </style>
</head>
<body>
    <section class="text-white py-5 text-center">
        <div class="container">
            <h2 class="mb-4">What Our Visitors Say</h2>
            <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner" id="testimonial-container"></div>
                
            </div>
        </div>
    </section>
</body>
</html>